body {
    background-image: url(/Homework/Assignment3/Psychic-Game/assets/images/catlook.jpg);
    background-size: 100%;
}

.wrapper {
    position: relative;
    top: 80px;
    left: 350px;
    width: 700px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

.container {
    position: relative;
    top: 80px;
    font-size: 20px;
    line-height: 2.5;
}